<ion-view view-title="Pools" ng-controller="poolsController as poolCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-arrow-left-c" ng-click="mainCtrl.goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-loop" ng-click="mainCtrl.refresh()"></button>
    </ion-nav-buttons>
    <ion-content class="padding" direction="x">
        <div class="row center">
            <div class="col">
                <h3>{{poolCtrl.poolNumber}}</h3>
            </div>
            <div class="col">
                <h3>{{poolCtrl.strip}}</h3>
            </div>
        </div>
        <div class="row" ng-repeat="row in poolCtrl.pool track by $index">
            <div class="col col-33" ng-repeat="column in row track by $index" ng-if="$index == 0">
                {{column}}
            </div>
            <div class="col col-50" ng-repeat="column in row track by $index" ng-if="$index == 1">
                {{column}}
            </div>
            <div class="col col-10" ng-repeat="column in row track by $index" ng-if="$index > 1">
                {{column}}
            </div>
            <!-- padding -->
            <div class="col col-10">
            </div>
        </div>
    </ion-content>
</ion-view>
